#OS junk files
[Tt]humbs.db
*.DS_Store

#LaTeX 
*.aux
*.log
*.nlo
*.out
*.gz
*.toc

.vscode
CarND-Term1-P2-Traffic-Sign-Classifier-Project/traffic-signs-data
CarND-Term1-P3-Behavioral-Cloning/simdata/
CarND-Term1-P3-Behavioral-Cloning/video_run1&2.zip
CarND-Term1-P5-Vehicle-Detection/dataset/
CarND-Term1-P5-Vehicle-Detection/.ipynb_checkpoints/
